@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    background-color: #0251E5;
    color: aliceblue;
    font-family: 'Merriweather Sans', sans-serif;
}

/* Input suggestion box start */

  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    background-color: rgb(238, 234, 234) ;
    color:black;
  }
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }

  /* Input suggestion box end */

.navigation {
    margin: 0rem 2rem 0rem 2rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav a {
    display: flex;
    justify-content: center;
}
nav a img{
    width: 10vw;
}
.navigation input::after {
    position: absolute;
    content: "|";
    animation-name: cursor-blinking;
    animation-duration:1s ;
    animation-iteration-count: infinite;
}

@keyframes cursor-blinking {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1s;
    }
    
}
.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location {
    
    border-style: none;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 5rem 0rem 3rem 0rem;
}
.location:focus-visible {
    outline: none;
}
.location::placeholder {
    color:aliceblue;
}
.weather-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.actual-temp {
    color: white;
    font-weight: 700;
    font-size: 4.1rem;
}

.actual-temp::after {
    position: absolute;
    content: "o";
    font-size: 2rem;
}

.feels-like {
    color: rgb(170, 202, 229);
    font-size: 1.5rem;
}

.feels-like::after {
    position: absolute;
    content: "o";
    font-size: 1rem;
}

.weather-icon img{
    color: rgb(196, 223, 249);
    font-size: 5rem;
    width: 12rem;
    z-index: 100;
    /* margin-right: 3rem; */
}

.details {
    font-weight: 400;
    max-width: 90%;
    font-size: 1.8rem;
    margin-top: 3rem;
    text-align: center;
}
.setLocation {
    margin-top: 2rem;
    border: 1px solid rgb(159, 205, 205);
}

@media(min-width:425px) {
    .navigation {
        margin: 0rem .8rem 0rem .8rem ;
    }
    .details {
        max-width: 80%;
    }
    .weather-data {
        flex-direction: row;
    }
    nav a img{
        width: 6vw;
    }
    .weather-icon {
        margin-right: 3rem;
    }
}

@media(min-width:768px) {
    nav a img{
        width: 4vw;
    }
    .details {
        max-width: 50%;
    }
}
